[Unit]
Description=smddgz service
After=network.target

[Service]
Type=simple
ExecStart=/root/smddgz/smddgz_linux

[Install]
WantedBy=multi-user.target